@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --padding-left: 250px;
    --padding-right: 100px;
    --background: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background);
    transition: background-color 0.5s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.telwrap {
    display: none;
}

.footerMobile {
    display: none;
}

h1,
p {
    font-size: 32px;
    font-weight: normal;
}

/* 
h1 {
    font-family: Outfit, sans-serif;
    font-weight: normal;
} */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */
/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

.navMobile {
    display: none;
}

nav,
.nav_items-end,
.nav_items-menu {
    display: flex;

}

nav {
    /* position: absolute; */
    background: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.7);
    height: 75px;
    width: 100%;
    padding: 0 50px;
    border-radius: 0 0 5px 5px;
    z-index: 1;

    transition: all 0.5s ease;
}

.nav-non-active {
    transform: translate(0, 0);
}

.nav_items-end {
    gap: 60px;
}

.nav_items-menu {
    align-items: flex-end;
    gap: 20px;
}

.menu-icon {
    transform: translate(0, -50%);
    cursor: pointer;
}

.nav-active {
    /* ACTIVE -------------------------------------- */
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 100px;
    gap: 30%;
    opacity: 0.2;
    position: absolute;
    top: -100%;
    z-index: 1;

    transition: all 0.5s ease;
}

.nav-active_left,
.nav-active li {
    display: flex;
    flex-direction: column;
}

.nav-active_left {
    gap: 50px;
}

.nav-active li {
    list-style: none;
    gap: 20px;
}

.nav-active ul a {
    font-size: 36px;
    transition: color 0.2s ease;
}

.nav-active ul a:hover {
    color: #9e9e9e;
}

.nav-active .menu-icon-active {
    position: absolute;
    right: 50px;
    top: 28px;
    cursor: pointer;
}

.nav_section-title {
    font-size: 24px;
    font-weight: 300;
    color: #aaaaaa;
}

.nav_mailto {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
}

.nav_mailto::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    margin-top: -4px;
    border-bottom: 1px solid #000;
    transition: border-bottom 0.2s ease;
}

.nav_mailto:hover::after {
    border-bottom: 1px solid #aaaaaa;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
.copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 300;
    color: #444;
    transition: color 0.2s ease;
    z-index: 1;
}

.copyright:hover {
    color: #636363;
}

footer {
    position: relative;
    background: #131313;
    padding: 75px var(--padding-left);
    display: flex;
    justify-content: space-between;
}

footer * {
    color: #fff;
}

.footer_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_mailto {
    color: inherit;
    text-decoration: none;
    font-size: 32px;
}

.footer_mailto::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    margin-top: -4px;
    border-bottom: 1px solid #444;
    transition: border-bottom 0.2s ease;
}

.footer_mailto:hover::after {
    border-bottom: 1px solid #fff;
}

.footer_location {
    font-size: 18px;
    font-weight: 300;
    color: #909090;

    transition: color 0.2s ease;
}

.footer_location:hover {
    color: #fff;
}

.footer_socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    filter: grayscale(100%);
    transition: all 0.4s ease;
}

.footer_socials:hover {
    filter: grayscale(0%);
}

.footer_socials a {
    display: contents;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
main {
    padding: 175px 0 50px var(--padding-left);
}

.portfolio_text {
    font-size: 100px;
    font-weight: 600;
    margin: 3% 0 10% 0;
    color: var(--background);
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.sroll-projects {
    display: flex;
    gap: 50px;
}

.scroll_arrow {
    animation: goScroll 1s ease infinite alternate;
}

@keyframes goScroll {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(10%);
    }
}

.this,
.is,
.my,
.portfolio {
    transition: color 0.1s ease;
}

.this:hover,
.is:hover,
.my:hover,
.portfolio:hover {
    color: #0099ff;
}

/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */
/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */
section {
    /* border: 1px solid #000; */

    padding: 90px var(--padding-left) 200px var(--padding-left);
    display: flex;
    justify-content: space-between;
}

.last_section {
    margin-bottom: 50px;
}

.project_image {
    width: 550px;
    height: 800px;
}

.project_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project_image a {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.project_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;

}

.project_title {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project_desc {
    font-size: 36px;
    margin-bottom: 15px;
}

.project_tech {
    font-size: 24px;
    color: #8d8d8d;
}


/* PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT */
/* PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT PROJECT */
.project_container {
    background: var(--background);
    padding: 20vh 0 30vh var(--padding-left);
}

.project_main {
    display: flex;
    gap: 250px;
    margin-bottom: 10vh;
}

.embed_project {
    height: 60vh;
    width: 70%;
    margin: auto auto 50vh auto;
    overflow: hidden;
}

.azul_img-bg {
    background-image: url("src/img/azul_bg.png");
}

.calls_img-bg {
    background-image: url("src/img/calls.png");
}

.msm_img-bg {
    background-image: url("src/img/msm.png");
}

.about_img-bg {
    background-image: url("src/img/campus.jpg");
}

.img-bg {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project,
.technames {
    color: #777777;
    font-size: 24px;
    margin-bottom: 2em;
}

.project+p {
    font-size: 48px;
    font-weight: 600;
}

.next_project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_project p {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 100px;
    transition: color 0.2s ease;
}

.next_project p:hover {
    color: #777777;
}

.project_desc-plus-play {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.playAzul {
    font-weight: 500;
    text-decoration: underline;
}

.azulProject {
    background: #ff000015;
}

.callsProject {
    background: #0000001a;
}

.msmProject {
    background: #00b3ff17;
}

.video {
    height: 100%;
    width: 100%;
}

@media (max-width: 375px) {

    body {
        position: fixed;
        padding: 0;
        margin: 0;
    }

    h1,
    p {
        font-size: 24px;
    }

    .telwrap {
        display: block;
    }
    
    .normalwrap {
        display: none;
    }


    .navMobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-non-active,
    .nav-active {
        display: none;
    }

    .footerOrdi {
        display: none;
    }

    .footerMobile {
        padding: 20px 20px 70px 20px;
        justify-content: space-around;
        display: flex;
    }

    .copyright {
        font-size: 11px;
    }
    
    .footer_right {
        gap: 10px;
    }
    
    .footer_mailto {
        font-size: 15px;
    }
    
    .footer_location {
        font-size: 11px;
    }
    
    .footer_socials {
        gap: 10px;
    }
    
    .footer_social-p {
        font-size: 12px;
    }




    main {
        margin-top: 30px;
        padding: 30px;
    }
    
    .portfolio_text {
        font-size: 36px;
    }
    
    .sroll-projects {
        display: flex;
        gap: 50px;
    }
    
    .this,
    .is,
    .my,
    .portfolio {
        transition: color 0.5s ease;
    }
    
    .this:hover,
    .is:hover,
    .my:hover,
    .portfolio:hover {
        color: #0099ff;
    }



    section {
        /* border: 1px solid #000; */
    
        padding: 50px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    
    .last_section {
        margin-bottom: 50px;
    }
    
    .project_image {
        width: 90%;
        height: 60vh;
        margin: 30% auto;
    }
    
    .project_text {
        height: auto;
    }
    




    .project_container {
        background: var(--background);
        padding: 30px;
        margin-top: 50px;
    }
    
    .project_main {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 10vh;
    }
    
    .embed_project {
        height: 60vh;
        width: 70%;
        margin: auto auto 10vh auto;
    }
    
    .img-bg {
        min-height: 300px;
    }
    
    .project,
    .technames {
        color: #777777;
        font-size: 24px;
        margin-bottom: 1em;
    }
    
    .project+p {
        font-size: 32px;
        font-weight: 600;
    }
    
    
}

@media (max-width: 400px) {

    body {
        position: fixed;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 24px;
    }

    .telwrap {
        display: block;
    }
    
    .normalwrap {
        display: none;
    }


    .navMobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-non-active,
    .nav-active {
        display: none;
    }

    .footerOrdi {
        display: none;
    }

    .footerMobile {
        padding: 20px 20px 70px 20px;
        justify-content: space-around;
        display: flex;
    }

    .copyright {
        font-size: 11px;
    }
    
    .footer_right {
        gap: 10px;
    }
    
    .footer_mailto {
        font-size: 15px;
    }
    
    .footer_location {
        font-size: 11px;
    }
    
    .footer_socials {
        gap: 10px;
    }
    
    .footer_social-p {
        font-size: 12px;
    }



    main {
        margin-top: 30px;
        padding: 30px;
    }
    
    .portfolio_text {
        font-size: 36px;
    }
    
    .sroll-projects {
        display: flex;
        gap: 50px;
    }
    
    .this,
    .is,
    .my,
    .portfolio {
        transition: color 0.5s ease;
    }
    
    .this:hover,
    .is:hover,
    .my:hover,
    .portfolio:hover {
        color: #0099ff;
    }



    section {
        /* border: 1px solid #000; */
    
        padding: 50px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    
    .last_section {
        margin-bottom: 50px;
    }
    
    .project_image {
        width: 90%;
        height: 60vh;
        margin: 30% auto;
    }
    
    .project_text {
        height: auto;
    }




    .project_container {
        background: var(--background);
        padding: 30px;
        margin-top: 50px;
    }
    
    .project_main {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 10vh;
    }
    
    .embed_project {
        height: 60vh;
        width: 70%;
        margin: auto auto 10vh auto;
    }
    
    .img-bg {
        min-height: 300px;
    }
    
    .project,
    .technames {
        color: #777777;
        font-size: 24px;
        margin-bottom: 1em;
    }
    
    .project+p {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 600px) {

    body {
        position: fixed;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 24px;
    }

    .telwrap {
        display: block;
    }
    
    .normalwrap {
        display: none;
    }


    .navMobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-non-active,
    .nav-active {
        display: none;
    }

    .footerOrdi {
        display: none;
    }

    .footerMobile {
        padding: 20px 20px 70px 20px;
        justify-content: space-around;
        display: flex;
    }

    .copyright {
        font-size: 11px;
    }
    
    .footer_right {
        gap: 10px;
    }
    
    .footer_mailto {
        font-size: 15px;
    }
    
    .footer_location {
        font-size: 11px;
    }
    
    .footer_socials {
        gap: 10px;
    }
    
    .footer_social-p {
        font-size: 12px;
    }



    main {
        margin-top: 30px;
        padding: 30px;
    }
    
    .portfolio_text {
        font-size: 36px;
    }
    
    .sroll-projects {
        display: flex;
        gap: 50px;
    }
    
    .this,
    .is,
    .my,
    .portfolio {
        transition: color 0.5s ease;
    }
    
    .this:hover,
    .is:hover,
    .my:hover,
    .portfolio:hover {
        color: #0099ff;
    }



    section {
        /* border: 1px solid #000; */
    
        padding: 50px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    
    .last_section {
        margin-bottom: 50px;
    }
    
    .project_image {
        width: 90%;
        height: 60vh;
        margin: 30% auto;
    }
    
    .project_text {
        height: auto;
    }




    .project_container {
        background: var(--background);
        padding: 30px;
        margin-top: 50px;
    }
    
    .project_main {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 10vh;
    }
    
    .embed_project {
        height: 60vh;
        width: 70%;
        margin: auto auto 10vh auto;
    }
    
    .img-bg {
        min-height: 300px;
    }
    
    .project,
    .technames {
        color: #777777;
        font-size: 24px;
        margin-bottom: 1em;
    }
    
    .project+p {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 1000px) {

    body {
        position: fixed;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 24px;
    }

    .telwrap {
        display: block;
    }
    
    .normalwrap {
        display: none;
    }

    .navMobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-non-active,
    .nav-active {
        display: none;
    }

    .footerOrdi {
        display: none;
    }

    .footerMobile {
        padding: 20px 20px 70px 20px;
        justify-content: space-around;
        display: flex;
    }

    .copyright {
        font-size: 12px;
    }
    
    .footer_right {
        gap: 15px;
    }
    
    .footer_mailto {
        font-size: 20px;
    }
    
    .footer_location {
        font-size: 15px;
    }
    
    .footer_socials {
        gap: 10px;
    }
    
    .footer_social-p {
        font-size: 20px;
    }



    main {
        margin-top: 30px;
        padding: 30px;
    }
    
    .portfolio_text {
        font-size: 36px;
    }
    
    .sroll-projects {
        display: flex;
        gap: 50px;
    }
    
    .this,
    .is,
    .my,
    .portfolio {
        transition: color 0.5s ease;
    }
    
    .this:hover,
    .is:hover,
    .my:hover,
    .portfolio:hover {
        color: #0099ff;
    }



    section {
        /* border: 1px solid #000; */
    
        padding: 50px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* margin-top: 50px; */
    }
    
    .last_section {
        margin-bottom: 50px;
    }
    
    .project_image {
        width: 90%;
        height: 60vh;
        margin: 30% auto;
    }
    
    .project_text {
        height: auto;
    }




    .project_container {
        background: var(--background);
        padding: 30px;
        margin-top: 50px;
    }
    
    .project_main {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 10vh;
    }
    
    .embed_project {
        height: 60vh;
        width: 70%;
        margin: auto auto 10vh auto;
    }
    
    .img-bg {
        min-height: 300px;
    }
    
    .project,
    .technames {
        color: #777777;
        font-size: 24px;
        margin-bottom: 1em;
    }
    
    .project+p {
        font-size: 32px;
        font-weight: 600;
    }
}