/* Font face */ /* Font face */ /* Font face */ /* Font face */ /* Font face */ /* Font face */ /* Font face */ 

@import url("font-face/poppins/poppins.css");
@import url("font-face/gilroy/gilroy.css");
@import url("font-face/retroica/retroica.css");

/* * {
    border: 1px solid red;
} */

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    font-weight: 400;
}

/* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ 

header {
    height: 81vh;
}

/* Nav */ /* Nav */ /* Nav */ /* Nav */ /* Nav */ /* Nav */ /* Nav */ 

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
    height: 77px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    transition: all 0.5s ease-in-out;
    box-shadow: 0 0px 2px black;
}

.yaelspan {
    margin-left: 25px;
    font-size: 30px;
    transition: font-size 0.5s ease-in-out;
}

.spanA {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

header.scrolled .spanA {
    pointer-events: auto;
}


.buttons-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 25px 25px 25px 0;
    /* border: 1px solid red; */
    overflow: hidden;
}

.buttons-nav a {
    color: white;
    text-decoration: none;
    /* font-size: 30px; */
    display:block;
    position: relative;
    /* transition: font-size 1s ease-in; */
}

.navv a {

    font-size: 30px;

    color: white;
    line-height:1.5em;
    border-bottom: 1px solid transparent;
    /* border-color: black; */

    transition: color 0.2s ease-in-out, 
    /* transition: all 0.6s ease-in-out; */
    border-color 0.4s cubic-bezier(1, 0, 0, 1),

    font-size 0.6s ease-in;
}

.navv:hover a {
    color: #888;
    border-color: white;
    animation: navb 0.6s cubic-bezier(1, 0, 0, 1) ;
}

header.scrolled .navv a { border-color: white; }
header.scrolled .navv:hover a { border-color: black; }

header.scrolled nav {
    background: #fff;
    height: 50px;
    display: flex;
}

header.scrolled a {
    color: black;
    font-size: 25px;

}

header.scrolled .black {
    background: #fff;
}

header.scrolled span {
    color: black;
    font-size: 25px;
}

@keyframes navb {
    0% {transform: translate(0px, 0px); }
    50% {transform: translate(0px, -50px); }
    50.0001% {transform: translate(0px, 50px); }
    100% {transform: translate(0px, 0); }
}


/* Black bar */ /* Black bar */ /* Black bar */ /* Black bar */ /* Black bar */ /* Black bar */ /* Black bar */ 

.black {
    background: black;
    padding-left: 25px;
    height: 60vh;
    padding-top: 82px;
    padding-bottom: 50px;
    transition: background 0.6s ease-in-out;
}

header.scrolled .black h1, header.scrolled .black p {
    color: black;
}

h1 {
    font-size: 64px;
    font-family: 'poppins';
    font-weight: 400;
    width: fit-content;
    color: white;

    margin: 0;
    position: fixed;
    left: 25px;
    top: 100px;
    z-index: 2;

}

.scrolled h1 {
    top: 12px;
    font-size: 25px;

}

.black h1, .black p {
    transition: all 0.6s ease-in-out;
}

.no-transition h1 {
    transition: all 0s ease-in;
}

.headline {
    font-size: 56px;
    color: white;
    line-height: 70px;
}

.barre {
    height: 10px;
    width: 440px;
    background: white;
    margin-top: 150px;
    margin-bottom: 50px;
}

.moving-text {
    display: flex;
}

/* Main */ /* Main */ /* Main */ /* Main */ /* Main */ /* Main */ /* Main */ 


main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.Azul, .Calls, .MontSaintMichel {
    display: flex;
    flex-direction: column;

}

.Azul p, .Calls p, .MontSaintMichel p {
    font-weight: 400;
    font-size: 48px;
}

.azulwrap { 
    display: flex;
    margin-right: 240px;
    justify-content: flex-end;
}

.callswrap { 
    display: flex;
    justify-content: flex-start;
    margin-left: 240px;
}

.msmwrap {
    display: flex;
    justify-content: center;
}

.imgwrap {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: none;
    height: 60vh;
}

.imgwrap:hover {
    box-shadow:
    0px 0px 0px 1px rgb(0 0 0 /1),
    -1px 1px 1px 2px rgb(255, 255, 255),
    -20px 20px 0px 5px rgb(0 0 0 /1);

    transform: skew(5deg) rotate(-5deg);
    animation: skeww 1.8s ease-in-out infinite alternate;
}

.callsimg:hover {
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), -20px 20px 0px 5px rgb(0, 0, 0);
}

.imgwrap img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .5s ease;
    display: block;
}

.imgwrap:hover img {
    transform: scale(1.10);
}

@keyframes skeww {
    0% { transform: translateY(0px); }
    100% { transform: translateY(5px); }
}

/* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.moving-text {
    margin-bottom: 300px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
}

.moving-text p {
    margin: 0 0 10px 0;
    font-size: 100px;
    min-width: fit-content;

}

.mail {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;

}

.mail:hover {
    color: #888;
}

.foot {
    background: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.foot p, address {
    color: white;
}

.footer-contact {
    font-size: 50px;
    line-height: 90px;
}

address {
    margin-top: 50px;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
}

.contact-me {
    font-family: 'gilroybold';
}

svg {
    color: white;
    transition: color 0.2s ease;
}

svg:hover {
    color: #888;
}

.bottfoot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5vh;
}

.yael {
    font-size: 48px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logos {
    display: flex;
    gap: 40px;
}
