
@font-face {
    font-family: 'retroica';
    src: url('retroica-webfont.woff2') format('woff2'),
         url('retroica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}