
@font-face {
    font-family: 'poppins';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'poppins';
    src: url('poppins-italic-webfont.woff2') format('woff2'),
         url('poppins-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'poppins';
    src: url('poppins-medium-webfont.woff2') format('woff2'),
         url('poppins-medium-webfont.woff') format('woff');
    font-weight: 500;

}
@font-face {
    font-family: 'poppins';
    src: url('poppins-mediumitalic-webfont.woff2') format('woff2'),
         url('poppins-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'poppins';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
}